:root {
  --formbar-height: 8.4rem;
  --dark-gray: #282c34;
  --white: #defffc;

  --shadow: #00000033;

  --orange: #d1603d;
  --gold: #ddb967;
}

* {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  box-sizing: border-box;
  text-decoration: inherit;
  list-style: none;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: inherit;
  background-color: transparent;
  border: inherit;
}

html {
  
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, monospace;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}
